
<div class="action-title">
  <h2>Create request</h2>
</div>

<div class="action-error" *ngIf="error">
  <mat-card *ngIf="error" class="error-card">
    <mat-card-content>{{error.message}}</mat-card-content>
  </mat-card>
</div>


<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <div>
    <mat-form-field appearance="fill">
      <mat-label>User Login</mat-label>
      <input matInput formControlName="userLogin" placeholder="Enter user login">
      <mat-error *ngIf="form.controls['userLogin'].hasError('required')">User login is required</mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Justification</mat-label>
      <textarea matInput formControlName="justification" placeholder="Enter justification"></textarea>
      <mat-error *ngIf="form.controls['justification'].hasError('required')">Justification is required</mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Needed Capacity</mat-label>
      <input matInput formControlName="neededCapacity" placeholder="Enter needed capacity">
      <mat-error *ngIf="form.controls['neededCapacity'].hasError('required')">Needed capacity is required</mat-error>
      <mat-error *ngIf="form.controls['neededCapacity'].hasError('min')">Needed capacity must be at least 5</mat-error>
    </mat-form-field>
  </div>

  <div class="form-card" *ngIf="materials">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Materials</mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div>
          <mat-list>
            <div *ngFor="let id of form.get('materialIds')?.value; let i=index">
                <mat-list-item>
                  <div class="space-end">
                    <div class="material-name">
                      {{getMaterial(id)?.name}}
                    </div>
                    <div>
                      <button mat-flat-button color="accent" type="button" (click)="removeMaterial(i)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                  </div>
                </mat-list-item>
                <mat-divider></mat-divider>
            </div>
          </mat-list>
        </div>
        <div class="add-select">
          <div class="add-select-input">
            <mat-form-field appearance="fill">
              <mat-label>Select</mat-label>
              <mat-select #select>
                <ng-container *ngFor="let mat of materials">
                  <mat-option value="one" *ngIf="isSelected(mat)" [value]="mat">{{mat.name}}</mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="add-select-btn">
            <button mat-button color="primary" type="button" (click)="addMaterial(select.value)">Add Material</button>
          </div>
        </div>

      </mat-card-content>
    </mat-card>
  </div>

  <div class="form-card">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Time</mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Enter date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="form.controls['date'].hasError('daysInFuture')">Date must be at least 3 days in the future</mat-error>
          </mat-form-field>
        </div>

        <div id="time-fields">
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Begin at</mat-label>
              <input type="time" matInput formControlName="beginAt">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="fill">
              <mat-label>end at</mat-label>
              <input type="time" matInput formControlName="endAt">
            </mat-form-field>
          </div>
        </div>

        <mat-card-footer>
          <p class="app-global-invalid" *ngIf="form.hasError('dateABeforeB')">begin time should be after end time</p>
        </mat-card-footer>

      </mat-card-content>
    </mat-card>
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Additional Notes</mat-label>
      <textarea matInput formControlName="additionalNotes" placeholder="Enter additional notes"></textarea>
    </mat-form-field>
  </div>

  <div class="action-btn-rack row-btn">
    <button mat-flat-button class="accept" type="submit" [disabled]="!form.valid">submit</button>
    <button mat-flat-button color="warn" type="button" (click)="drawer.close()">cancel</button>
  </div>
</form>


