<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>{{ drawer.opened ? 'close' : 'menu'}}</mat-icon>
  </button>
  <span>MateriAlloc</span>
</mat-toolbar>

<mat-drawer-container class="container">
  <mat-drawer #drawer class="sidenav" mode="push">
    <app-nav-item *ngFor="let item of navItems" [item]="item"></app-nav-item>
  </mat-drawer>

  <mat-drawer #actionDrawer class="sideaction" mode="push" position="end">
    <action-drawer [drawer]="actionDrawer"></action-drawer>
  </mat-drawer>

  <div class="sidenav-content">
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
