<mat-toolbar color="primary">
  <button mat-icon-button (click)="navDrawer.toggle()">
    <mat-icon>{{ navDrawer.opened ? 'close' : 'menu'}}</mat-icon>
  </button>
  <span>MateriAlloc</span>
</mat-toolbar>

<mat-drawer-container class="container">
  <mat-drawer #navDrawer class="sidenav" mode="push">
    <app-nav [navDrawer]="navDrawer"></app-nav>
  </mat-drawer>

  <mat-drawer #actionDrawer class="sideaction" mode="push" position="end">
    <action-drawer [drawer]="actionDrawer"></action-drawer>
  </mat-drawer>

  <div class="sidenav-content">
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
