/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer {
  flex: 1 1 auto;
}

.page-actions {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.row-btn:first-child {
  border-radius: 10px 0 0 10px;
}

.row-btn:not(:first-child):not(:last-child){
  border-radius: 0;
  border-left: 1px solid rgba(230, 230, 230, 0.96);
  border-right: 1px solid rgba(230, 230, 230, 0.96);
}

.row-btn:last-child {
  border-radius: 0 10px 10px 0;
}

.md-button:not([disabled]):hover {
  background-color: rgba(193, 193, 193, 0.96);
  color: rgba(44, 65, 164, 0.96);
  transition: 0.3s;
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 36px;
}
.row-btn {
  width: 100%;
}

.action-btn-rack {
  position: absolute;
  bottom: 0;
}

.action-btn-rack button{
  width: 50%;
  border-radius: 0;
}

.space-end {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

mat-card-content {
  padding: 10px
}

.app-global-invalid {
  color: red;
}

.snackbar-warn {
  background-color: #a06b26;
}

.snackbar-error {
  background-color: #9e3535;
}
